Copie_de_Unit_1_Train_your_first_Deep_Reinforcement_Learning_Agent_🚀.ipynb
NLP_utils/__pycache__/preprocessing.cpython-37.pyc
NLP_datasets/rt-polarity-full.csv
video/1665928671.950314.mp4
video/1665928701.2543402.mp4
video/1665928710.1324632.mp4
.DS_Store
__pycache__/Q_learning_simple_utils.cpython-37.pyc
__pycache__/reinforce_algorithm_utils.cpython-37.pyc
__pycache__/text_action_space.cpython-37.pyc
__pycache__/text_data_pools.cpython-37.pyc
__pycache__/text_environments.cpython-37.pyc
__pycache__/text_reward_functions.cpython-37.pyc
NLP_utils/__pycache__/baseline_models.cpython-37.pyc
NLP_utils/__pycache__/pytorch_datasets.cpython-37.pyc
deep-q-learning-space-invaders.ipynb
ppo-LunarLander-v2.zip
tester.ipynb
agent_models/mlruns/0/meta.yaml
agent_models/rt-polarity/0/meta.yaml
agent_models/rt-polarity/0/0fe0a563b3f946129f93df1b08a4bda0/meta.yaml
agent_models/rt-polarity/0/0fe0a563b3f946129f93df1b08a4bda0/params/n_episodes
agent_models/rt-polarity/0/0fe0a563b3f946129f93df1b08a4bda0/tags/mlflow.source.name
agent_models/rt-polarity/0/0fe0a563b3f946129f93df1b08a4bda0/tags/mlflow.source.type
agent_models/rt-polarity/0/0fe0a563b3f946129f93df1b08a4bda0/tags/mlflow.user
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/meta.yaml
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/artifacts/rnn-default/conda.yaml
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/artifacts/rnn-default/MLmodel
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/artifacts/rnn-default/requirements.txt
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/artifacts/rnn-default/data/model.pth
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/artifacts/rnn-default/data/pickle_module_info.txt
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/params/n_episodes
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/tags/mlflow.log-model.history
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/tags/mlflow.source.name
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/tags/mlflow.source.type
agent_models/rt-polarity/0/9f09e3fa6df6427ba2889e89ac787bcc/tags/mlflow.user
agent_models/rt-polarity/mlruns/0/meta.yaml
mlruns/0/meta.yaml
NLP_datasets/rt-polarity-test-prc.csv
NLP_datasets/rt-polarity-test.csv
NLP_datasets/rt-polarity-test.pkl
NLP_datasets/rt-polarity-train-prc.csv
NLP_datasets/rt-polarity-train.csv
NLP_datasets/rt-polarity-train.pkl
NLP_datasets/rt-polarity-val-prc.csv
NLP_datasets/rt-polarity-val.csv
NLP_datasets/rt-polarity-val.pkl
__pycache__/observation.cpython-37.pyc
__pycache__/policy_networks.cpython-37.pyc
RL_for_NLP/__pycache__/observation.cpython-37.pyc
RL_for_NLP/__pycache__/text_action_space.cpython-37.pyc
RL_for_NLP/__pycache__/text_data_pools.cpython-37.pyc
RL_for_NLP/__pycache__/text_environments.cpython-37.pyc
RL_for_NLP/__pycache__/text_reward_functions.cpython-37.pyc
NLP_datasets/RT_Polarity/rt-polarity-full.csv
NLP_datasets/RT_Polarity/rt-polarity-test-bert.pkl
NLP_datasets/RT_Polarity/rt-polarity-test.csv
NLP_datasets/RT_Polarity/rt-polarity-test.pkl
NLP_datasets/RT_Polarity/rt-polarity-train-bert.pkl
NLP_datasets/RT_Polarity/rt-polarity-train.csv
NLP_datasets/RT_Polarity/rt-polarity-train.pkl
NLP_datasets/RT_Polarity/rt-polarity-val-bert.pkl
NLP_datasets/RT_Polarity/rt-polarity-val.csv
NLP_datasets/RT_Polarity/rt-polarity-val.pkl
RL_for_NLP/Text Classification/tensorboard/A2C_1/events.out.tfevents.1668462113.192.168.1.37.13429.0
RL_for_NLP/Text Classification/tensorboard/A2C_10/events.out.tfevents.1668547672.192.168.1.37.18036.8
RL_for_NLP/Text Classification/tensorboard/A2C_11/events.out.tfevents.1668547693.192.168.1.37.18036.9
RL_for_NLP/Text Classification/tensorboard/A2C_12/events.out.tfevents.1668547713.192.168.1.37.18036.10
RL_for_NLP/Text Classification/tensorboard/A2C_2/events.out.tfevents.1668530396.192.168.1.37.18036.0
RL_for_NLP/Text Classification/tensorboard/A2C_3/events.out.tfevents.1668530404.192.168.1.37.18036.1
RL_for_NLP/Text Classification/tensorboard/A2C_4/events.out.tfevents.1668547359.192.168.1.37.18036.2
RL_for_NLP/Text Classification/tensorboard/A2C_5/events.out.tfevents.1668547525.192.168.1.37.18036.3
RL_for_NLP/Text Classification/tensorboard/A2C_6/events.out.tfevents.1668547586.192.168.1.37.18036.4
RL_for_NLP/Text Classification/tensorboard/A2C_7/events.out.tfevents.1668547598.192.168.1.37.18036.5
RL_for_NLP/Text Classification/tensorboard/A2C_8/events.out.tfevents.1668547611.192.168.1.37.18036.6
RL_for_NLP/Text Classification/tensorboard/A2C_9/events.out.tfevents.1668547643.192.168.1.37.18036.7
NLP_datasets/IMDB_reviews/imdb-val.pkl
NLP_datasets/IMDB_reviews/imdb-val-bert.pkl
NLP_datasets/IMDB_reviews/imdb-train.pkl
NLP_datasets/IMDB_reviews/imdb-train-bert.pkl
NLP_datasets/IMDB_reviews/imdb-test.pkl
NLP_datasets/IMDB_reviews/imdb-test-bert.pkl
NLP_datasets/IMDB_reviews/imdb_val.csv
NLP_datasets/IMDB_reviews/imdb_train.csv
NLP_datasets/IMDB_reviews/imdb_test.csv
NLP_datasets/IMDB_reviews/IMDB_Dataset.csv
__pycache__/intrinsic_text_value_models.cpython-37.pyc
NLP_datasets/IMDB_reviews/split_and_preprocess.ipynb
RL_for_NLP/Text Classification/rt_polarity_tests.ipynb
